/*
	Fixa o rodapé
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h4 {
  :root {
    --step--2: clamp(0.8681rem, 0.727rem + 0.7055vi, 1.6rem);
    --step--1: clamp(1.0417rem, 0.8569rem + 0.9237vi, 2rem);
    --step-0: clamp(1.25rem, 1.009rem + 1.2048vi, 2.5rem);
    --step-1: clamp(1.5rem, 1.1867rem + 1.5663vi, 3.125rem);
    --step-2: clamp(1.8rem, 1.394rem + 2.0301vi, 3.9063rem);
    --step-3: clamp(2.16rem, 1.6351rem + 2.6244vi, 4.8828rem);
    --step-4: clamp(2.592rem, 1.9151rem + 3.3846vi, 6.1035rem);
    --step-5: clamp(3.1104rem, 2.2393rem + 4.3557vi, 7.6294rem);
  }
}

.card-image .card-title {
  :root {
    --step--2: clamp(0.8681rem, 0.727rem + 0.7055vi, 1.6rem);
    --step--1: clamp(1.0417rem, 0.8569rem + 0.9237vi, 2rem);
    --step-0: clamp(1.25rem, 1.009rem + 1.2048vi, 2.5rem);
    --step-1: clamp(1.5rem, 1.1867rem + 1.5663vi, 3.125rem);
    --step-2: clamp(1.8rem, 1.394rem + 2.0301vi, 3.9063rem);
    --step-3: clamp(2.16rem, 1.6351rem + 2.6244vi, 4.8828rem);
    --step-4: clamp(2.592rem, 1.9151rem + 3.3846vi, 6.1035rem);
    --step-5: clamp(3.1104rem, 2.2393rem + 4.3557vi, 7.6294rem);
  }
}
